body{
    display: grid;
    align-items: center;
    justify-items: center;

    height: 100vh;

    background-image: url('./img/cassio-13092018214352784.jpg');
    filter: grayscale(1);

    font-family: 'Montserrat', sans-serif;
}


.app{
    max-width: 900px;
    width: 100%;
    padding: 120px;
    border-radius: 25px;    
    background-color: rgba(0, 0, 0, 0.8);

    position: relative;
    color: white;
}

.app h1{
    text-align: left;
}
.app h2{
    text-align: right;
}
#demo {
    font-size: 90px;
}
#demo {
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
#demo .clock{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
}
#demo .clock::before{
  content: '';
  width: 210px;
  height: 210px;
  position: absolute;
  top: -6px;
  left: -6px;
  border: 1px solid white;
  
  border-radius: 50%;
}

@media (max-width: 599px)
{
    body{
        background: url('./img/cassio-13092018214352784.jpg');
        background-repeat: repeat-y;
        max-width: 599px;
    }

  .app{
    max-width: 380px;
    width:100%;
    padding: 0;
  }
  .app h1, .app h2{
    text-align: center;
  }

  #demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #demo .clock{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
  }

  #demo .clock::before{
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    top: -6px;
    left: -6px;
    border: 1px solid white;
    
    border-radius: 50%;
  }
}